/* Contenedor principal */
.box-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  padding: 20px; /* Añade un poco de padding para evitar que el contenido toque los bordes */
}

/* Estiliza el título */
.box-register h1 {
  color: #333; /* Color del texto */
  font-size: 24px; /* Tamaño del texto */
}

/* Estiliza el formulario */
.box-register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacio entre elementos del formulario */
  padding:10px;
  width: 40%;
  height: 60%;
  max-width: 500px; /* Máximo ancho del formulario */
  background: #385170;
  border: 2px black solid;
  border-radius: 5px;
}

/* Estiliza las entradas de texto y el botón de manera coherente */
.box-register input[type="text"],
.box-register input[type="email"],
.box-register input[type="password"],
.box-register .login-button {
  width: 100%; /* Asegura que los campos ocupen todo el ancho del formulario */
  padding: 8px; /* Añade un relleno interior para que sea más fácil de leer */
  margin: 4px 0; /* Añade un pequeño espacio vertical entre los campos */
  border: 1px solid #ccc; /* Borde sutil */
  border-radius: 4px; /* Bordes redondeados */
}

/* Estiliza específicamente el botón de registro */
.box-register .login-button {
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  font-weight: bold; /* Hace que el texto sea más grueso */
  cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
  border: none; /* Elimina el borde */
}

/* Añade un efecto al pasar el mouse sobre el botón */
.box-register .login-button:hover {
  background-color: #0056b3; /* Oscurece el botón al pasar el mouse */
}
